*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
header{
    position: fixed;
    background-color: #630A10;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    z-index: 1000;
}
header a .logo{
   display: block;
   width: 100px;
   padding: 10px;
   filter: contrast(200%) invert(10);
}
header nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0.96;
}
header nav li{
    list-style-type: none;
    padding: 10px;
}
header nav li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #FACE7F;
    transition: 3s;
}
header nav li a:hover{
    color: white;
}
header nav li .active{
    color: #FCF0C8;
}
header nav li .btn{
    background-color: #FACE7F;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    width: 20%;
}
header nav li .btn:hover{
    background-color: white;
    color: black;
}
header ion-icon{
    display: none;
}
main {
    
    z-index: 500;
}
main .header-banner{
    background:url("../asset/banner.png") no-repeat center/cover,  linear-gradient(to right ,#3a0004 , black 80% );
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: rows;
    background-blend-mode: overlay;
}
main .header-banner .txt
{
    width: 500px;
    height: 300px;
   transform: translate(50%,100%);
}
main .header-banner .txt h1{
    color:#FFB200;
    font-size: 4rem;
    font-family: pacifico;
    text-shadow: 0 0 10px black;
}
main .header-banner .txt h3{
    color:white;
    font-size: 3rem;
    font-family: pacifico;
    text-shadow: 0 0 10px black;
    
}
main .header-banner .txt p{
    color:white;
    font-size: 1rem;
    font-family:sans-serif;
    line-height: 25px;
    text-shadow: 0 0 10px black;
    
}
main .header-banner .txt button{
    background-color: #FACE7F;
    color: white;
    border:none;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0 0 0;
    width: 40%;
    letter-spacing: 2px;
    box-shadow: 0 0 10px black;
}
main .header-banner .txt button:hover{
    background-color: #fff;
    color: #333;
}
main .header-banner .banner
{
   position: absolute;
   width: 30%;
   height: auto;
   top:20%;
   left: 50%;
   opacity: 0.3;
   animation: bigshow 3s infinite;
   filter: invert(100%);
}
@keyframes bigshow {
    100%{transform: rotate(30deg);
        scrollbar-shadow-color: 10px  black;
        opacity: 0.1;
    }
}
main .about{
    background:linear-gradient(30deg , #fcf0c8 100%, white);
    width: 100%;
    height: 100vh;
  
}
main .about h1{
    display: block;
    padding: 50px 0 0 0;
    font-size: 4rem;
    color: black;
    text-align: center;
}
main .about .txt{
   
    width: 40%;
    margin: 10% 10% auto;    
}
main .about .txt h2{
    color: #630A10;
    font-size: 5rem;
    font-family: sans-serif;
    line-height: 90px;
}
main .about .cards
{
    display: flex;
}
main .about .txt p{
    color: black;
    font-size: 1.2rem;
    font-family: sans-serif;
    line-height: 50px;
    margin: 5px;
    font-weight: 700;
    opacity: 0.6;

}
main .about .imggallery{
    width: 30%;
    height: 200px;
    margin: 10% 0% auto; 
    display: flex;
    flex-wrap: wrap;
    transform: scale(1.3);
}
main .about .imggallery .gall{
    width: 25%;
    height: auto;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 5px 5px  black;
    animation: gallary 5s  infinite;
}

@keyframes gallary {
    100%{ transition:5s; transform: rotateY(360deg); opacity:0.6;}
}

main .service
{
    background-color: #911F27;
    width: 100%;
    height: 100vh;
}
main .service h1{
   display: block;
   text-align: center;
   color: white;
   padding: 50px 0 50px 0;
   font-size: 4rem;
}
main .service .cards{
 display: flex;
 justify-content: center;
}
main .service .cards .card1{
   background-color:#fcf0c8 ;
   width: 10%;
   height: 300px;
   border-radius: 10px;
   margin: 20px 120px auto;
   box-shadow: 0 0 30px black;
}
main .service .cards .card1 h3{
    font-size: 3rem;
    padding: 10px 0 0 0;
    text-align: center;
    text-shadow: 0 0 2px black;
}
main .service .cards .card1 p{
    font-size: 1.6rem;
    padding: 12px 0 0 0;
    text-align: center;
    opacity: 0.8;
}
main .service .cards .card1 button{
    background-color: #911F27;
    width: 50%;
    border:none;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0 0 50px;
    letter-spacing: 2px;
}
main .service .cards .card1 button:hover{
    background-color: #333;
    color: white;
}
main .contact{
    background:linear-gradient(-210deg ,#630A10  100%, black 60%);
    width: 100%;
    height: 100vh;
}
main .contact h1{
    display: block;
    padding: 50px 0 0 0;
    font-size: 4rem;
    color: black;
    text-align: center;
}
main .contact .contactpage
{
   margin: 5% 2% auto;
    width: 80%;
    transform: translate(10%);
    outline: none;
}
main .contact .contactpage input[type=text]
{
    height: 60px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border:none;
    margin:30px 0 0  0;
    box-shadow: 0 0 5px black;
    color:white;
    font-size: 1rem;

}
main .contact .contactpage input[type=text]:focus
{
    outline: none;
    background-color: grey;
    opacity: 0.5;
}
main .contact .contactpage input[type=text]::placeholder{
    font-size: 1rem;
}
main .contact .contactpage textarea{
    margin: 30px 0 0 0;
    width: 100%;
    outline: none;
    box-shadow: 0 0 5px black;
    color:black;
    font-size: 1rem;
}
main .contact .contactpage textarea::placeholder{
    font-size: 1rem;
    padding: 20px;
}
main .contact .contactpage button{
    border: none;
    background-color: black;
    padding: 40px;
    width: 40%;
    border-radius: 10px;
    margin:10px 0 0 0;
    color: white;
    margin: 2% 28% auto;
}
main .contact .contactpage button:hover
{
    background-color: #fff;
    color: black;
}
footer
{
    background-color: white;
    width: 100%;
    height: 50vh;
}
footer .footer{
    background-color:rgb(21, 19, 19);
    width: 100%;
    height: 50vh;
    display: flex;
}
footer .footer .phase1{
    width: 33%;
    height: 50vh;
}
footer .footer .phase1 h1{
    color: thistle;
    margin: -10% 30%;

}
footer .footer .phase1 .logo{
    width: 35%;
    margin: 20% 20%;
}
footer .footer .phase2{

    width: 33.5%;
    height: 50vh;
    color: thistle;
}
footer .footer .phase2 h1 
{
    margin: 7% 35% auto;
}
footer .footer .phase2 p 
{
    margin: 7% 35% auto;
}
footer .footer .phase3{

    width: 33.5%;
    height: auto;
}
footer .footer .phase3 .sociallinks{
   
    width: 30%;
    height: auto;
    margin: 30% 35% auto;
}
footer .footer .phase3 .sociallinks .social{
    width: 40px;
    padding: 5px;
    filter: invert(50%);
}




















/*---------------------------------------------------- media works------------------------------- */

@media screen and (max-width: 1300px ) and (max-height:1500px){
    header{
        position: fixed;
        background-color: #630A10;
        width: 100%;
        display: grid;
        grid-template-columns: 80% 20%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    }
    header a .logo
    {
        position: relative;
        z-index: 1000;
    }
    header nav{
        display:none;
        position: absolute;
        background-color: #630A10;
        width: 100%;
        height:350px;
        left:0;
        top:0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
    }
    header .menu{
        display: block;
        font-size: 5rem;
        margin:15px;
        color: rgba(255, 255, 255, 0.645);
        transition: 0.3s;
        cursor: pointer;
    }
    header .menu:hover{
        transform: rotate(44deg);
        transition: 0.3s;
    }
    header .close{
        display: none;
        font-size: 5rem;
        margin:15px;
        font-weight: 700;
        color: white;
        transition: 0.3s;
        cursor: pointer;
    }
    header .close:hover{
        transform: rotate(43deg);
        transition: 0.3s;
    }
    
    main .header-banner .txt
    {
    width: 80%;
    height: 300px;
   transform: translate(0%,80%);
   text-align: center;
   margin: 0 0 0 100px;
   }
   main .header-banner .txt h1{
   
    color:#FFB200;
    font-size: 6rem;
    font-family: pacifico;
    text-shadow: 0 0 10px black;
    }   
    main .header-banner .txt h3{
       
    color:white;
    font-size: 4rem;
    font-family: pacifico;
    text-shadow: 0 0 10px black;
    
     }
    main .header-banner .txt p{
    color:white;
    font-size: 2rem;
    font-family:sans-serif;
    line-height: 80px;
    text-shadow: 0 0 10px black;
    }   
    main .header-banner .txt button{
        background-color: #FACE7F;
        font-size: 1rem;
        color: white;
        border:none;
        border-radius: 2px;
        padding: 10px;
        margin: 50px 0 0 0;
        width: 40%;
        letter-spacing: 2px;
        box-shadow: 0 0 10px black;
    }
    main .about{
        background:linear-gradient(30deg ,#fcf0c8, white);
        width: 100%;
        height: 60vh;
      
    }
    main .about h1{
        display: block;
        padding: 50px 0 0 0;
        font-size: 4rem;
        color: black;
        text-align: center;
    }
    main .about .txt{
       
        width: 40%;
        margin: 10% 10% auto;    
    }
    main .about .txt h2{
        color: #630A10;
        font-size: 3rem;
        font-family: sans-serif;
        line-height: 90px;
    }
    main .about .cards
    {
        display: flex;
    }
    main .about .txt p{
        color: black;
        font-size: 0.9rem;
        font-family: sans-serif;
        line-height: 20px;
        margin: 5px;
        font-weight: 700;
        opacity: 0.6;
    
    }
    main .about .imggallery{
        width: 30%;
        height: 200px;
        margin: 10% 0% auto; 
        display: flex;
        flex-wrap: wrap;
        transform: scale(1.3);
    }
    main .about .imggallery .gall{
        width: 30%;
        height: auto;
        padding: 10px;
        border-radius: 50px;
        box-shadow: 0 5px 5px  black;
        animation: gallary 5s  infinite;
    }
    main .service
{
    background-color: #911F27;
    width: 100%;
    height: 100vh;
}
main .service h1{
   display: block;
   text-align: center;
   color: white;
   padding: 50px 0 50px 0;
   font-size: 4rem;
}
main .service .cards{
 display: flex;
 justify-content: center;
}
main .service .cards .card1{
   background-color:#fcf0c8 ;
   width: 40%;
   height: 300px;
   border-radius: 10px;
   margin: 60px 60px auto;
}
main .service .cards .card1 h3{
    font-size: 3rem;
    padding: 10px 0 0 0;
    text-align: center;
    text-shadow: 0 0 2px black;
}
main .service .cards .card1 p{
    font-size: 1.6rem;
    padding: 12px 0 0 0;
    text-align: center;
    opacity: 0.8;
}
main .service .cards .card1 button{
    background-color: #911F27;
    width: 50%;
    border:none;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0 0 50px;
    letter-spacing: 2px;
    color: white;
}
main .service .cards .card1 button:hover{
    background-color: #333;
    color: white;
}

  
}
@media screen and (max-width: 1300px ) and (max-height:600px){
    header{
        position: fixed;
        background-color: #630A10;
        width: 100%;
        display: grid;
        grid-template-columns: 80% 20%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    }
    header a .logo
    {
        position: relative;
        z-index: 1000;
    }
    header nav{
        display:none;
        position: absolute;
        background-color: #630A10;
        width: 100%;
        height:350px;
        left:0;
        top:0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
    }
    header .menu{
        display: block;
        font-size: 5rem;
        margin:15px;
        color: rgba(255, 255, 255, 0.645);
        transition: 0.3s;
        cursor: pointer;
    }
    header .menu:hover{
        transform: rotate(44deg);
        transition: 0.3s;
    }
    header .close{
        display: none;
        font-size: 5rem;
        margin:15px;
        font-weight: 700;
        color: white;
        transition: 0.3s;
        cursor: pointer;
    }
    header .close:hover{
        transform: rotate(43deg);
        transition: 0.3s;
    }
    main .header-banner .txt
    {
    width: 80%;
    height: 300px;
   transform: translate(6%,30%);
   text-align: center;
   margin: 0 0 0 50px;
   }
   main .header-banner .txt h1{
   
    color:#FFB200;
    font-size: 4rem;
    font-family: pacifico;
    text-shadow: 0 0 10px black;
    }   
    main .header-banner .txt h3{
       
    color:white;
    font-size: 2rem;
    font-family: pacifico;
    text-shadow: 0 0 10px black;
    
     }
    main .header-banner .txt p{
    color:white;
    font-size: 2rem;
    font-family:sans-serif;
    line-height: 50px;
    text-shadow: 0 0 10px black;
    }   
    main .header-banner .txt button{
        background-color: #FACE7F;
        font-size: 1rem;
        color: white;
        border:none;
        border-radius: 2px;
        padding: 10px;
        margin: 50px 0 0 0;
        width: 40%;
        letter-spacing: 2px;
        box-shadow: 0 0 10px black;
    }
    main .about{
        background:linear-gradient(30deg ,#fcf0c8, white);
        width: 100%;
        height: 100vh;
      
    }
    main .about h1{
        display: block;
        padding: 50px 0 0 0;
        font-size: 4rem;
        color: black;
        text-align: center;
    }
    main .about .txt{
       
        width: 40%;
        margin: 10% 10% auto;    
    }
    main .about .txt h2{
        color: #630A10;
        font-size: 3rem;
        font-family: sans-serif;
        line-height: 90px;
    }
    main .about .cards
    {
        display: flex;
    }
    main .about .txt p{
        color: black;
        font-size: 0.8rem;
        font-family: sans-serif;
        line-height: 20px;
        margin: 5px;
        font-weight: 700;
        opacity: 0.6;
    
    }
    main .about .imggallery{
        width: 30%;
        height: 200px;
        margin: 10% 0% auto; 
        display: flex;
        flex-wrap: wrap;
        transform: scale(1.3);
    }
    main .about .imggallery .gall{
        width: 30%;
        height: auto;
        padding: 10px;
        border-radius: 50px;
        box-shadow: 0 5px 5px  black;
        animation: gallary 5s  infinite;
    }
    main .service
    {
        background-color: #911F27;
        width: 100%;
        height: 160vh;
    }
    main .service h1{
       display: block;
       text-align: center;
       color: white;
       padding: 50px 0 50px 0;
       font-size: 4rem;
    }
    main .service .cards{
     display: flex;
     justify-content: center;
    }
    main .service .cards .card1{
       background-color:#fcf0c8 ;
       width: 40%;
       height: 300px;
       border-radius: 10px;
       margin: 60px 40px auto;
    }
    main .service .cards .card1 h3{
        font-size: 2rem;
        padding: 10px 0 0 0;
        text-align: center;
        text-shadow: 0 0 2px black;
    }
    main .service .cards .card1 p{
        font-size: 1.6rem;
        padding: 12px 0 0 0;
        text-align: center;
        opacity: 0.8;
    }
    main .service .cards .card1 button{
        background-color: #911F27;
        width: 50%;
        border:none;
        border-radius: 10px;
        padding: 10px;
        margin: 20px 0 0 50px;
        letter-spacing: 2px;
        color: white;
    }
    main .service .cards .card1 button:hover{
        background-color: #333;
        color: white;
    }
    main .contact{
        background:linear-gradient(-210deg ,#630A10  100%, black 60%);
        width: 100%;
        height: 140vh;
    }
    
}
@media screen and (max-width: 768px ) {
    header{
        position: fixed;
        background-color: #630A10;
        width: 100%;
        display: grid;
        grid-template-columns: 80% 20%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    }
    header a .logo
    {
        position: relative;
        z-index: 1000;
    }
    header nav{
        display:none;
        position: absolute;
        background-color: #630A10;
        width: 100%;
        height:350px;
        left:0;
        top:0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
    }
    header .menu{
        display: block;
        font-size: 2.5rem;
        margin:15px;
        color: rgba(255, 255, 255, 0.645);
        transition: 0.3s;
        cursor: pointer;
    }
    header .menu:hover{
        transform: rotate(44deg);
        transition: 0.3s;
    }
    header .close{
        display: none;
        font-size: 2.5rem;
        margin:15px;
        font-weight: 700;
        color: white;
        transition: 0.3s;
        cursor: pointer;
    }
    header .close:hover{
        transform: rotate(43deg);
        transition: 0.3s;
    }
    main .header-banner .txt
    {
    width: 80%;
    height: 300px;
   transform: translate(0%,80%);
   text-align: center;
   margin: 0 0 0 60px;
   }
   main .header-banner .txt h1{
   
    color:#FFB200;
    font-size: 5rem;
    font-family: pacifico;
    text-shadow: 0 0 10px black;
    }   
    main .header-banner .txt h3{
       
    color:white;
    font-size: 4rem;
    font-family: pacifico;
    text-shadow: 0 0 10px black;
    
     }
    main .header-banner .txt p{
    color:white;
    font-size: 2rem;
    font-family:sans-serif;
    line-height: 40px;
    text-shadow: 0 0 10px black;
    }   
    main .header-banner .txt button{
        background-color: #FACE7F;
        font-size: 1rem;
        color: white;
        border:none;
        border-radius: 2px;
        padding: 10px;
        margin: 50px 0 0 0;
        width: 40%;
        letter-spacing: 2px;
        box-shadow: 0 0 10px black;
    }
    main .about{
        background:linear-gradient(30deg ,#fcf0c8, white);
        width: 100%;
        height: 100vh;
      
    }
    main .about h1{
        display: block;
        padding: 50px 0 0 0;
        font-size: 4rem;
        color: black;
        text-align: center;
    }
    main .about .txt{
       
        width: 40%;
        margin: 10% 10% auto;    
    }
    main .about .txt h2{
        color: #630A10;
        font-size: 5rem;
        font-family: sans-serif;
        line-height: 60px;
    }
    main .about .cards
    {
        display: flex;
       flex-direction: row;
        
    }
    main .about .txt
    {
        margin: 10px 0 0 60px;
    }
    main .about .txt p{
        color: black;
        font-size: 1rem;
        font-family: sans-serif;
        line-height: 25px;
        margin: 10px;
        font-weight: 700;
        opacity: 0.6;
    
    }
    main .about .imggallery{
        width: 40%;
        height: 600px;
        margin: 80px 0 0 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        transform: scale(1.3);
    }
    main .about .imggallery .gall{
        width: 30%;
        height: auto;
        padding: 2px;
        margin: 10px auto;
        border-radius: 50px;
        box-shadow: 0 5px 5px  black;
        animation: gallary 5s  infinite;
    }
    main .service
    {
        background-color: #911F27;
        width: 100%;
        height: 100vh;
    }
    main .service h1{
       display: block;
       text-align: center;
       color: white;
       padding: 50px 0 50px 0;
       font-size: 4rem;
    }
    main .service .cards{
     display: flex;
     justify-content: center;
    }
    main .service .cards .card1{
       background-color:#fcf0c8 ;
       width: 40%;
       height: 300px;
       border-radius: 10px;
       margin: 60px 40px auto;
    }
    main .service .cards .card1 h3{
        font-size: 2rem;
        padding: 10px 0 0 0;
        text-align: center;
        text-shadow: 0 0 2px black;
    }
    main .service .cards .card1 p{
        font-size: 1.6rem;
        padding: 12px 0 0 0;
        text-align: center;
        opacity: 0.8;
    }
    main .service .cards .card1 button{
        background-color: #911F27;
        width: 50%;
        border:none;
        border-radius: 10px;
        padding: 10px;
        margin: 20px 0 0 50px;
        letter-spacing: 2px;
        color: white;
    }
    main .service .cards .card1 button:hover{
        background-color: #333;
        color: white;
    }

}
@media screen and (max-width: 600px ) {
    header{
        position: fixed;
        background-color: #630A10;
        width: 100%;
        display: grid;
        grid-template-columns: 80% 20%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    }
    header a .logo
    {
        position: relative;
        z-index: 1000;
    }
    header nav{
        display:none;
        position: absolute;
        background-color: #630A10;
        width: 100%;
        height:350px;
        left:0;
        top:0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
    }
    header .menu{
        display: block;
        font-size: 2.5rem;
        margin:15px;
        color: rgba(255, 255, 255, 0.645);
        transition: 0.3s;
        cursor: pointer;
    }
    header .menu:hover{
        transform: rotate(44deg);
        transition: 0.3s;
    }
    header .close{
        display: none;
        font-size: 2.5rem;
        margin:15px;
        font-weight: 700;
        color: white;
        transition: 0.3s;
        cursor: pointer;
    }
    header .close:hover{
        transform: rotate(43deg);
        transition: 0.3s;
    }
    main .header-banner .txt
    {
    width: 80%;
    height: 300px;
   transform: translate(5%,45%);
   text-align: center;
   margin: 0 0 0 30px;
   }
   main .header-banner .txt h1{
   
    color:#FFB200;
    font-size: 4rem;
    font-family: pacifico;
    text-shadow: 0 0 10px black;
    }   
    main .header-banner .txt h3{
       
    color:white;
    font-size: 3rem;
    font-family: pacifico;
    text-shadow: 0 0 10px black;
    
     }
    main .header-banner .txt p{
    color:white;
    font-size: 1rem;
    font-family:sans-serif;
    line-height: 25px;
    text-shadow: 0 0 10px black;
    }   
    main .header-banner .txt button{
        background-color: #FACE7F;
        color: white;
        border:none;
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0 0 0;
        width: 40%;
        letter-spacing: 2px;
        box-shadow: 0 0 10px black;
    } 
    main .about{
        background:linear-gradient(30deg ,#fcf0c8, white);
        width: 100%;
        height: 100vh;
      
    }
    main .about h1{
        display: block;
        padding: 50px 0 0 0;
        font-size: 4rem;
        color: black;
        text-align: center;
    }
    main .about .txt{
       
        width: 40%;
        margin: 10% 10% auto;    
    }
    main .about .txt h2{
        color: #630A10;
        font-size: 4rem;
        font-family: sans-serif;
        line-height: 50px;
    }
    main .about .cards
    {
        display: flex;
       flex-direction: row;
        
    }
    main .about .txt
    {
        margin: 10px 0 0 60px;
    }
    main .about .txt p{
        color: black;
        font-size: 1rem;
        font-family: sans-serif;
        line-height: 25px;
        margin: 5px;
        font-weight: 700;
        opacity: 0.6;
    
    }
    main .about .imggallery{
        width: 40%;
        height: 600px;
        margin: 80px 0 0 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        transform: scale(1.3);
    }
    main .about .imggallery .gall{
        width: 25%;
        height: auto;
        padding: 2px;
        margin: 10px auto;
        border-radius: 50px;
        box-shadow: 0 5px 5px  black;
        animation: gallary 5s  infinite;
    }
    main .service
    {
        background-color: #911F27;
        width: 100%;
        height: 250vh;
    }
    main .service h1{
       display: block;
       text-align: center;
       color: white;
       padding: 50px 0 50px 0;
       font-size: 4rem;
    }
    main .service .cards{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
    }
    main .service .cards .card1{
       background-color:#fcf0c8 ;
       width: 40%;
       height: 300px;
       border-radius: 10px;
       margin: 60px 5px auto;
    }
    main .service .cards .card1 h3{
        font-size: 3rem;
        padding: 10px 0 0 0;
        text-align: center;
        text-shadow: 0 0 2px black;
    }
    main .service .cards .card1 p{
        font-size: 1.6rem;
        padding: 12px 0 0 0;
        text-align: center;
        opacity: 0.8;
    }
    main .service .cards .card1 button{
        background-color: #911F27;
        width: 50%;
        border:none;
        border-radius: 10px;
        padding: 10px;
        margin: 20px 0 0 50px;
        letter-spacing: 2px;
        color: white;
    }
    main .service .cards .card1 button:hover{
        background-color: #333;
        color: white;
    }
    main .contact{
        background:linear-gradient(-210deg ,#630A10  100%, black 60%);
        width: 100%;
        height: 120vh;
    }
    footer .footer{
        background-color:rgb(21, 19, 19);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    footer .footer .phase1{
        width: 100%;
        height: 50vh;
    }
    footer .footer .phase1 h1{
        color: thistle;
        margin: 0% 38%;
    
    }
    footer .footer .phase1 .logo{
        width: 200px;
        margin: 5% 20%;
    }
    footer .footer .phase2{
    
        width: 100%;
        height: 50vh;
        color: thistle;
    }
    footer .footer .phase2 h1 
    {
        
        margin: 5% 35% auto;
    }
    footer .footer .phase2 p 
    {
        margin: 7% 35% auto;
    }
    footer .footer .phase3{
    
        width: 100%;
        height: auto;
    }
    footer .footer .phase3 .sociallinks{
       
        width: 49%;
        height: auto;
       
    }
    footer .footer .phase3 .sociallinks .social{
        width: 30px;
        padding: 5px;
        filter: invert(50%);
    }
    
    
}


@media screen and (max-width: 500px )  {
    header{
        position: fixed;
        background-color: #630A10;
        width: 100%;
        display: grid;
        grid-template-columns: 80% 20%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    }
    header a .logo
    {
        position: relative;
        z-index: 1000;
    }
    header nav{
        display:none;
        position: absolute;
        background-color: #630A10;
        width: 100%;
        height:350px;
        left:0;
        top:0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
    }
    header .menu{
        display: block;
        font-size: 2.5rem;
        margin:15px;
        color: rgba(255, 255, 255, 0.645);
        transition: 0.3s;
        cursor: pointer;
    }
    header .menu:hover{
        transform: rotate(44deg);
        transition: 0.3s;
    }
    header .close{
        display: none;
        font-size: 2.5rem;
        margin:15px;
        font-weight: 700;
        color: white;
        transition: 0.3s;
        cursor: pointer;
    }
    header .close:hover{
        transform: rotate(43deg);
        transition: 0.3s;
    }
    main .header-banner .txt
    {
    width: 80%;
    height: 300px;
   transform: translate(0%,25%);
   text-align: center;
   margin: 0 0 0 30px;
   }
   main .header-banner .txt h1{
   
    color:#FFB200;
    font-size: 4rem;
    font-family: pacifico;
    text-shadow: 0 0 10px black;
    }   
    main .header-banner .txt h3{
       
    color:white;
    font-size: 3rem;
    font-family: pacifico;
    text-shadow: 0 0 10px black;
    
     }
    main .header-banner .txt p{
    color:white;
    font-size: 1rem;
    font-family:sans-serif;
    line-height: 25px;
    text-shadow: 0 0 10px black;
    }   
    main .header-banner .txt button{
        background-color: #FACE7F;
        color: white;
        border:none;
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0 0 0;
        width: 40%;
        letter-spacing: 2px;
        box-shadow: 0 0 10px black;
    } 
  
   
  
}
@media screen and (max-width: 414px ){
    main .header-banner .txt
    {
    width: 80%;
    height: 300px;
   transform: translate(0%,50%);
   text-align: center;
   margin: 0 0 0 30px;
   }
   main .header-banner .txt h1{
   
    color:#FFB200;
    font-size: 3rem;
    font-family: pacifico;
    text-shadow: 0 0 10px black;
    }   
    main .header-banner .txt h3{
       
    color:white;
    font-size: 3rem;
    font-family: pacifico;
    text-shadow: 0 0 10px black;
    
     }
    main .header-banner .txt p{
    color:white;
    font-size: 1rem;
    font-family:sans-serif;
    line-height: 25px;
    text-shadow: 0 0 10px black;
    
    } 
    main .header-banner .txt button{
        background-color: #FACE7F;
        color: white;
        border:none;
        border-radius: 10px;
        padding: 10px;
        margin: 50px 0 0 0;
        width: 40%;
        letter-spacing: 2px;
        box-shadow: 0 0 10px black;
    }
    main .about{
        background:linear-gradient(30deg ,#fcf0c8, white);
        width: 100%;
        height: 100vh;
      
    }
    main .about h1{
        display: block;
        padding: 50px 0 0 0;
        font-size: 4rem;
        color: black;
        text-align: center;
    }
    main .about .txt{
       
        width: 40%;
        margin: 10% 10% auto;    
    }
    main .about .txt h2{
        color: #630A10;
        font-size: 2rem;
        font-family: sans-serif;
        line-height: 50px;
    }
    main .about .cards
    {
        display: flex;
       flex-direction: row;
        
    }
    main .about .txt
    {
        margin: 10px 0 0 60px;
    }
    main .about .txt p{
        color: black;
        font-size: 0.8rem;
        font-family: sans-serif;
        line-height: 15px;
        margin: 5px;
        font-weight: 700;
        opacity: 0.6;
    
    }
    main .about .imggallery{
        width: 40%;
        height: 600px;
        margin: 80px 0 0 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        transform: scale(1.3);
    }
    main .about .imggallery .gall{
        width: 30%;
        height: auto;
        padding: 2px;
        margin: 10px auto;
        border-radius: 50px;
        box-shadow: 0 5px 5px  black;
        animation: gallary 5s  infinite;
    }
    main .service
    {
        background-color: #911F27;
        width: 100%;
        height: 320vh;
    }
    main .service h1{
       display: block;
       text-align: center;
       color: white;
       padding: 50px 0 50px 0;
       font-size: 4rem;
    }
    main .service .cards{
     display: flex;
     flex-direction: column;
    }
    main .service .cards .card1{
       background-color:#fcf0c8 ;
       width: 100%;
       height: 300px;
       border-radius: 10px;
       margin: 50px 0px auto;
    }
    main .service .cards .card1 h3{
        font-size: 2rem;
        padding: 10px 0 0 0;
        text-align: center;
        text-shadow: 0 0 2px black;
    }
    main .service .cards .card1 p{
        font-size: 1.6rem;
        padding: 12px 0 0 0;
        text-align: center;
        opacity: 0.8;
    }
    main .service .cards .card1 button{
        background-color: #911F27;
        width: 50%;
        border:none;
        border-radius: 10px;
        padding: 10px;
        margin: 20px 0 0 100px;
        letter-spacing: 2px;
    }
    main .service .cards .card1 button:hover{
        background-color: #333;
        color: white;
    }
    main .contact{
        background:linear-gradient(-210deg ,#630A10  100%, black 60%);
        width: 100%;
        height: 120vh;
    }
   
}
@media screen and (max-width: 375px ){
    main .service
    {
        background-color: #911F27;
        width: 100%;
        height: 350vh;
    }
    main .service h1{
       display: block;
       text-align: center;
       color: white;
       padding: 50px 0 50px 0;
       font-size: 4rem;
    }
    main .service .cards{
     display: flex;
     flex-direction: column;
    }
    main .service .cards .card1{
       background-color:#fcf0c8 ;
       width: 100%;
       height: 300px;
       border-radius: 10px;
       margin: 50px 0px auto;
    }
    main .service .cards .card1 h3{
        font-size: 2rem;
        padding: 10px 0 0 0;
        text-align: center;
        text-shadow: 0 0 2px black;
    }
    main .service .cards .card1 p{
        font-size: 1.6rem;
        padding: 12px 0 0 0;
        text-align: center;
        opacity: 0.8;
    }
    main .service .cards .card1 button{
        background-color: #911F27;
        width: 50%;
        border:none;
        border-radius: 10px;
        padding: 10px;
        margin: 20px 0 0 100px;
        letter-spacing: 2px;
    }
    main .service .cards .card1 button:hover{
        background-color: #333;
        color: white;
    }
}

@media screen and (max-width: 360px ){
    main .header-banner .txt
    {
    width: 80%;
    height: 300px;
   transform: translate(0%,35%);
   text-align: center;
   margin: 0 0 0 30px;
   }
   main .header-banner .txt h1{
   
    color:#FFB200;
    font-size: 3rem;
    font-family: pacifico;
    text-shadow: 0 0 10px black;
    }   
    main .header-banner .txt h3{
       
    color:white;
    font-size: 3rem;
    font-family: pacifico;
    text-shadow: 0 0 10px black;
    
     }
    main .header-banner .txt p{
    color:white;
    font-size: 1rem;
    font-family:sans-serif;
    line-height: 25px;
    text-shadow: 0 0 10px black;
    
    } 
    main .header-banner .txt button{
        background-color: #FACE7F;
        color: white;
        border:none;
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0 0 0;
        width: 40%;
        letter-spacing: 2px;
        box-shadow: 0 0 10px black;
    }
    main .about{
        background:linear-gradient(30deg ,#fcf0c8, white);
        width: 100%;
        height: 150vh;
      
    }
    main .about h1{
        display: block;
        padding: 50px 0 0 0;
        font-size: 4rem;
        color: black;
        text-align: center;
    }
    main .about .txt{
       
        width: 40%;
        margin: 10% 10% auto;    
    }
    main .about .txt h2{
        color: #630A10;
        font-size: 2rem;
        font-family: sans-serif;
        line-height: 50px;
    }
    main .about .cards
    {
        display: flex;
       flex-direction: row;
        
    }
    main .about .txt
    {
        margin: 10px 0 0 60px;
    }
    main .about .txt p{
        color: black;
        font-size: 0.8rem;
        font-family: sans-serif;
        line-height: 15px;
        margin: 5px;
        font-weight: 700;
        opacity: 0.6;
    
    }
    main .about .imggallery{
        width: 40%;
        height: 600px;
        margin: 80px 0 0 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        transform: scale(1.3);
    }
    main .about .imggallery .gall{
        width: 30%;
        height: auto;
        padding: 2px;
        margin: 10px auto;
        border-radius: 50px;
        box-shadow: 0 5px 5px  black;
        animation: gallary 5s  infinite;
    }
    main .service
{
    background-color: #911F27;
    width: 100%;
    height: 400vh;
}
main .service h1{
   display: block;
   text-align: center;
   color: white;
   padding: 50px 0 50px 0;
   font-size: 4rem;
}
main .service .cards{
 display: flex;
 flex-direction: column;
}
main .service .cards .card1{
   background-color:#fcf0c8 ;
   width: 100%;
   height: 300px;
   border-radius: 10px;
   margin: 20px 0px auto;
}
main .service .cards .card1 h3{
    font-size: 2rem;
    padding: 10px 0 0 0;
    text-align: center;
    text-shadow: 0 0 2px black;
}
main .service .cards .card1 p{
    font-size: 1.6rem;
    padding: 12px 0 0 0;
    text-align: center;
    opacity: 0.8;
}
main .service .cards .card1 button{
    background-color: #911F27;
    width: 50%;
    border:none;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0 0 80px;
    letter-spacing: 2px;
}
main .service .cards .card1 button:hover{
    background-color: #333;
    color: white;
}
main .contact{
    background:linear-gradient(-210deg ,#630A10  100%, black 60%);
    width: 100%;
    height: 120vh;
}
main .contact .contactpage button{
    width: 100%;
    margin: 10% auto;
}
}

